@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
	border: solid 1px red;
} */

@layer base {
	:root {
		--logo-primary-color: #ff6229;

		--background: #ffffff;
		--foreground: #09090b;

		--card: #000000;
		--card-foreground: #09090b;

		--popover: #000000;
		--popover-foreground: #09090b;

		--primary: #18181b;
		--primary-foreground: #fafafa;

		--secondary: #f4f4f5;
		--secondary-foreground: #18181b;

		--muted: #f4f4f5;
		--muted-foreground: #71717a;

		--accent: #f4f4f5;
		--accent-foreground: #18181b;

		--destructive: #ef4444;
		--destructive-foreground: #fafafa;

		--border: #e4e4e7;
		--input: #e4e4e7;
		--ring: #09090b;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
